<%- include("header") -%>

  <div class="wrapper">
   
    <div class="header">
      <h1> <%= listTitle.toUpperCase() %> </h1>
      <div class="links">
        <a href="https://joakim-todo-project.herokuapp.com/Måndag">Mån</a>
        <a href="https://joakim-todo-project.herokuapp.com/Tisdag">Tis</a>
        <a href="https://joakim-todo-project.herokuapp.com/Onsdag">Ons</a>
        <a href="https://joakim-todo-project.herokuapp.com/Torsdag">Tor</a>
        <a href="https://joakim-todo-project.herokuapp.com/Fredag">Fre</a>
        <a href="https://joakim-todo-project.herokuapp.com/Lördag">Lör</a>
        <a href="https://joakim-todo-project.herokuapp.com/Söndag">Sön</a>
      </div>
    </div>
    
  <div class="box">
  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>

      <form class="item" action="/" method="post">
        <input maxlength="25" type="text" name="newItem" placeholder="Todo..." autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">Add</button>
      </form>
  </div>
</div>
